.list-group-item {
  background-color: #01497c;
}

#banner {
    background: transparent url(../../images/banner.jpg) no-repeat center center /
      cover;
    height: 200px;
    margin-bottom: 120px;
  }