.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #01497c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
  }
  
  .sidebar-links {
    width: 180px;
    margin-left: 10px;
  }